.grid {
  display: grid;
  grid-column-gap: 20px;
  grid-template-columns: [main-start] repeat(12, [col-start] minmax(80px, 1fr)) [main-end];
}
.grid-header {
  height: 100%;
}
.box {
  display: flex;
}
.box-wrap {
  flex-wrap: wrap;
}
.box-row {
  margin: 0 -15px;
}
.box-center {
  justify-content: center;
}
.box-between {
  justify-content: space-between;
}
.box-center--vertical {
  align-items: center;
}

.column {
  padding: 0 15px;
}
.column-12 {
  width: 100%;
}
.column-11 {
  flex: 0 0 91.6%;
  max-width: 91.6%;
}
.column-10 {
  flex: 0 0 83.3%;
  max-width: 83.3%;
}
.column-9 {
  flex: 0 0 75%;
  max-width: 75%;
}
.column-8 {
  flex: 0 0 66.6%;
  max-width: 66.6%;
}
.column-7 {
  flex: 0 0 58.3%;
  max-width: 58.3%;
}
.column-6 {
  flex: 0 0 50%;
  max-width: 50%;
}
.column-5 {
  flex: 0 0 41.6%;
  max-width: 41.6%;
}
.column-4 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}
.column-3 {
  flex: 0 0 25%;
  max-width: 25%;
}
.column-2 {
  flex: 0 0 16.6%;
  max-width: 16.6%;
}
.column-1 {
  flex: 0 0 8.3%;
  max-width: 8.3%;
}

@media screen and (max-width: 575px) {
  .column-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .column-xs-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .column-xs-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .column-xs-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-xs-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .column-xs-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .column-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-xs-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .column-xs-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .column-xs-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-xs-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .column-xs-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
}

@media screen and (max-width: 767px) {
  .box {
    flex-wrap: wrap;
  }
  .column-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .column-sm-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .column-sm-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .column-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-sm-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .column-sm-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .column-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-sm-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .column-sm-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .column-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-sm-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .column-sm-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
}

@media screen and (max-width: 991px) {
  .column-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .column-md-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .column-md-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .column-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-md-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .column-md-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .column-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-md-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .column-md-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .column-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .column-md-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .column-md-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
}

@media screen and (max-width: 1199px) {
  .column-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .column-lg-11 {
    flex: 0 0 91.6%;
    max-width: 91.6%;
  }
  .column-lg-10 {
    flex: 0 0 83.3%;
    max-width: 83.3%;
  }
  .column-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .column-lg-8 {
    flex: 0 0 66.6%;
    max-width: 66.6%;
  }
  .column-lg-7 {
    flex: 0 0 58.3%;
    max-width: 58.3%;
  }
  .column-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .column-md-5 {
    flex: 0 0 41.6%;
    max-width: 41.6%;
  }
  .column-lg-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .column-lg-3 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }
  .column-md-2 {
    flex: 0 0 16.6%;
    max-width: 16.6%;
  }
  .column-md-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
  }
}