.page {
	height: 100vh;
	main {
		padding-bottom: 80px;
		height: calc(100vh - 80px);
    align-content: center;
  }
  &.page-mobile-open {
    height: 100vh !important;
  }
}
.page-mobile-open {
  height: 100vh;
}

@media (max-width: 991px) {
  .page {
    main {
      padding-bottom: 70px;
      height: calc(100vh - 60px);
    }
  }
}
// 404
.error-page--green {
	background: url(../img/noise.png) repeat, #8CAB6F;
}
.error-page-box {
	grid-column: col-start 1/span 12;
	justify-self: center;
    text-align: center;
    p {
		font-size: 24px;
		line-height: 33px;
		margin-top: 35px;
		margin-bottom: 40px;
    }
}
.error-page-img-box {
	display: flex;
  align-items: center;
  justify-content: center;
	img {
		transform: rotate(4.98deg);
		margin: 0 25px;
	}
}
@media (max-width: 767px) {
  .error-page-img-box {
    svg {
      width: 73px;
      height: 113px;
    }
    img {
      width: 140px;
    }
  }
}

@media (max-width: 991px) {
  .error-page-box {
    grid-column: col-start 1/span 2;
  }
  .error-page-img-box {
    svg {
      width: 113px;
      height: 165px;
    }
    img {
      width: 185px;
    }
  }
}

@media (max-width: 1399px) {
  .error-page-box {
    grid-column: col-start 1/span 8;
  }
}

@media (max-width: 1639px) {
  .error-page-img-box {
    svg {
      width: 140px;
      height: 205px;
    }
    img {
      width: 245px;
      margin: 0 10px;
    }
  }
}
// *******************************************//

// О нас
.about-page,
.product-post,
.shop-page {
	background: url(../img/noise.png) repeat;
	main {
		opacity: 0;
		animation: 1s opacityElem ease-in;
		animation-fill-mode: forwards;
	}
}
.about-img-box {
	grid-column: col-start 2/span 4;
	align-self: center;
	img {
    width: 100%;
    max-width: 450px;
	}
}
.about-desc-box {
	grid-column: col-start 7/span 5;
	align-self: center;
	p {
		margin-bottom: 20px;
	}
	a {
		font-weight: 700;
	}
}

@media (max-width: 767px) {
  .about-img-box,
  .about-desc-box {
    grid-column: col-start 1/span 2;
    margin-top: 20px;
  }
  .about-page {
    &.page,
    main {
      height: auto;
    }
  }
}

@media (max-width: 991px) {
  .about-img-box {
    grid-column: col-start 1/span 1;
  }
  .about-desc-box {
    grid-column: col-start 2/span 1;
  }
}

@media (max-width: 1399px) {
  .about-img-box {
    grid-column: col-start 1/span 3;
  }
  .about-desc-box {
    grid-column: col-start 4/span 5;
  }
}
// *******************************************//

// Страница товара
.product-img-box {
	grid-column: col-start 3/span 4;
	align-self: center;
	img {
    width: 100%;
    max-width: 538px;
    height: auto;
	}
}
.product-desc-box {
	grid-column: col-start 7/span 4;
	align-self: center;
}
.product-desc-head {
	border-bottom: 1px solid $font-color;
	padding-bottom: 10px;
	h1 {
		font-family: $font-family;
		font-size: 30px;
		line-height: 37px;
		margin-top: 0;
		margin-bottom: 10px;
		span {
			display: block;
		}
	}
	.product-name {
		font-weight: 700;
	}
	.product-subname {
		font-weight: 300;
	}
}
.product-desc-body {
	padding-top: 10px;
	margin-bottom: 20px;
}
.product-price {
	margin-top: 20px;
	font-family: $font-family;
	font-weight: 700;
	font-size: 35px;
	line-height: 44px;
	color: #000000;
  text-align: right;
}

@media(max-width:767px){
  .product-img-box,
  .product-desc-box {
    grid-column: col-start 1/span 2;
  }
  .product-img-box,
  .product-desc-box {
    margin-top: 20px;
  }
  .product-desc-body,
  .product-desc-box {
    margin-bottom: 30px;
  }
}

@media(max-width:991px){
  .product-img-box {
    grid-column: col-start 1/span 1;
    margin-top: 90px;
    align-self: start;
  }
  .product-desc-box {
    grid-column: col-start 2/span 1;
    padding-left: 0;
    align-self: start;
    margin-top: 75px;
  }
  .product-post {
    grid-template-rows: 60px minmax(calc(100vh - 120px), max-content) 60px;
  }
}

@media(max-width:1399px){
  .product-img-box {
    grid-column: col-start 2/span 3;
    align-self: center;
    margin-top: 0;
  }
  .product-desc-box {
    grid-column: col-start 5/span 4;
    padding-left: 60px;
  }
  .product-price {
    margin-top: 20px;
  }
  .product-desc-body {
    margin-bottom: 20px;
  }
}

@media (max-width: 1800px) {
  .product-img-box {
    grid-column: col-start 2/span 4;
  }
  .product-desc-box {
    grid-column: col-start 7/span 4;
  }
}
// *******************************************//

// Все релизы
.releases-page {
	background: url(../img/noise.png) repeat, #A39F88;
	.copyright {
		display: none;
	}
}
.releases-grid {
	grid-template-columns: repeat(3, minmax(50px, 33.3%) );
  align-content: space-around;
  grid-row-gap: 90px;
  margin-top: 60px;
}
.releases-item {
	opacity: 0;
	align-self: end;
	position: relative;
	animation: 1s opacityElem ease-in;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

@for $i from 0 to 20 {
	$step : 0.3s;
  .releases-item:nth-child(#{$i + 1}) {
	animation-delay: $step * $i;
  }
}

.releases-img {
	width: 70%;
	img {
		width: 100%;
	}
}
.releases-item--small{
	.releases-img {
		width: 60%;
	}
	.releases-counter {
		top: -90px;
		left: 47%;
	}
}
.releases-link {
	display: block;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: 6px;
		left: -40px;
	    margin-left: -28px;
	    width: 39%;
	    height: 238px;
	    z-index: -1;
		background: url(../img/shadows-small.png) 0 0 no-repeat;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 6px;
	    right: -70px;
	    width: 105%;
	    height: 238px;
	    z-index: -1;
		background: url(../img/shadows-small.png) right 0 no-repeat;
	}
}
.releases-counter {
	position: absolute;
	top: -55px;
	left: 54%;
	color: #fff;
	font-family: $font-family;
	font-weight: 900;
	font-size: 130px;
	line-height: 162px;
}
@media (max-width: 400px) {
  .releases-counter {
    font-size: 100px;
    line-height: 140px;
  }
}
@media (max-width: 470px) {
  .releases-link:before {
    right: -50px;
  }
}
@media (max-width: 599px) {
  .releases-grid {
    grid-template-columns: repeat(1, minmax(80px, 1fr) );
  }
  .releases-item {
    padding-left: 20px;
  }
  .releases-counter {
    top: -55px;
    left: 54%;
    font-size: 120px;
  }
  .releases-item--small {
    .releases-counter {
      top: -67px;
      left: 54%;
    }
  }
  .releases-link:before {
    right: 0;
  }
}

@media (max-width: 767px) {
  .releases-img {
    width: 100%;
  }
  .releases-counter {
    top: -70px;
    left: 44%;
    font-size: 100px;
  }
  .releases-item--small {
    .releases-img {
      width: 90%;
    }
    .releases-counter {
      top: -87px;
      left: 44%;
    }
    .releases-link:before {
      right: -45px;
    }
  }
  .releases-link:before {
    right: -45px;
    bottom: 6px;
    width: 104%;
  }
  .releases-link:after {
    width: 57%;
  }
}

@media (max-width: 991px) {
  .releases-item {
    animation: none;
    opacity: 1;
  }
  .releases-grid {
    grid-template-columns: repeat(2, minmax(80px, 1fr) );
    grid-gap: 70px;
    margin-top: 60px;
  }
  .releases-counter {
    top: -58px;
    left: 46%;
    font-size: 115px;
    line-height: 129px;
  }
  .releases-item--small {
    .releases-counter {
      top: -80px;
      left: 46%;
    }
    .releases-link:before {
      right: -60px;
    }
  }
}
@media (max-width: 1399px) {
  .releases-grid {
    grid-template-columns: repeat(3, minmax(50px, 33.3%));
  }
  .releases-counter {
    font-size: 95px;
    line-height: 90px;
  }
  .releases-img {
    width: 80%;
  }
  .releases-item--small .releases-counter {
    top: -75px;
  }
  .releases-item--small .releases-img {
    width: 70%;
  }
}
@media (max-width: 1600px) {
  .releases-counter {
    font-size: 115px;
    line-height: 120px;
    left: 40%;
  }
  .releases-item--small .releases-counter {
    top: -85px;
    left: 32%;
  }
  .releases-grid {
    margin-top: 45px;
  }
}

// *******************************************//

// Магазин
.product-post {
  .woocommerce-Price-currencySymbol {
    font-size: 32px;
    font-weight: 500;
  }
  .btn {
    outline: none;
  }
}
.filter {
    grid-column: col-start 12/span 2;
    justify-self: stretch;
    margin-bottom: 30px;
}
select.custom-select {
  display: none;
}
.product-grid {
	grid-column: col-start 2/span 10;
	grid-template-columns: repeat(4, minmax(50px, 33.3%) );
	grid-gap: 60px;
}
.pagination {
    grid-column: col-start 1/span 12;
    justify-self: center;
}

@media (max-width: 539px) {
  .product-grid {
    grid-template-columns: repeat(1, minmax(80px, 100%));
  }
}

@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: repeat(2, minmax(80px, 1fr));
  }
}

@media (max-width: 991px) {
  .filter {
    display: none;
  }
  .pagination,
  .product-grid {
    grid-column: col-start 1/span 2;
    grid-gap: 20px;
  }
  .product-item {
    margin-top: 20px;
  }
}

@media (max-width: 1399px) {
  .filter {
    grid-column: col-start 8/span 2;
  }
  .product-grid {
    grid-template-columns: repeat(3, minmax(80px, 1fr));
    grid-gap: 30px 20px;
    grid-column: col-start 2/span 6;
  }
  .pagination {
    grid-column: col-start 2/span 7;
  }
}

@media (max-width: 1599px) {
  .product-grid {
    grid-template-columns: repeat(3, minmax(50px, 33.3%) );
  }
}

// *******************************************//
// Релиз Подробнее
.post-grid {
	grid-column: col-start 3/span 8;
	grid-template-columns: [main-start] repeat(10, [col-start] minmax(80px, 1fr)) [main-end];
	padding-top: 80px;
	grid-row-gap: 80px;
	grid-auto-flow: row;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(100px);
  &.fadein-animate {
    transform: none;
  }
}
.about-post {
  .about-post-desc p,
  cite,
  .about-post-img {
    animation: 1s slideUp ease-in-out;
    img {
      max-width: 100%;
    }
  }
  cite {
    animation-delay: 0.2s;
    opacity: 1;
  }
  .about-post-desc p{
    animation-delay: 0.1s;
    opacity: 1;
  }
}
.active-animate {
  &.about-post-text,
  &.slideup-animate,
  &.about-post-desc,
  &.about-post-tracklist-a,
  &.about-post-tracklist-b {
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
  }
  &.fadein-animate {
    animation: 2s opacityElem ease-in-out;
    opacity: 1;
  }
  &.about-post-desc,
  &.about-post-tracklist-a {
    transition-delay: 0.1s;
  }
  &.about-post-tracklist-b {
    transition-delay: 0.2s;
  }
}

.about-post,
.about-post-text-img,
.about-post-tracklist {
	grid-column: col-start 1/span 10;
	align-self: center;
	display: flex;
}
.about-post-text {
	grid-column: col-start 2/span 8;
}
.about-post-footer {
	grid-column: col-start 1/span 10;
	text-align: center;
	padding-bottom: 70px;
	p {
		font-family: $font-family;
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		margin: 25px 0;
	}
}
.about-post-desc,
.about-post-img,
.about-post-tracklist-img,
.about-post-tracklist-desc {
	width: 50%;
	flex-basis: 50%;
}
blockquote {
	margin: 0;
	align-self: center;
	display: flex;
	flex-direction: column;
	padding-right: 133px;
}
cite {
	font-style: normal;
	align-self: flex-end;
  margin-top: 20px;
}
.about-post-img,
.about-post-tracklist-img {
	img {
    width: auto;
    max-width: 100%;
	}
}
.about-post-text-img {
	.about-post-desc {
		align-self: center;
	}
	&:nth-child(odd) {
		.about-post-desc {
			order: 1;
		}
		.about-post-img {
			order: 2;
			text-align: right;
		}
	}
}

.about-post-tracklist-desc {
	display: grid;
	grid-template-columns: [main-start] repeat(6, [col-start] minmax(80px, 1fr)) [main-end];
  align-content: center;
  grid-column-gap: 20px;
	h2 {
		font-family: $font-family;
		font-size: 36px;
		line-height: 45px;
		margin-top: 0;
		margin-bottom: 20px;
		grid-column: col-start 2/span 5;
	}
	h3 {
		font-size: 21px;
		margin: 0;
	}
	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
}
.about-post-tracklist-a {
	grid-column: col-start 2/span 2;
}
.about-post-tracklist-b {
  grid-column: col-start 4/span 2;
  margin-top: 55px;
}
.about-post-video {
  grid-column: col-start 1/span 10;
  h2 {
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.1em;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 24px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  iframe {
    width: 100%;
    height: 363px;
  }
  .about-post-desc {
    grid-column: col-start 7/span 4;
    width: 100%;
    align-self: center;
  }
  .about-post-iframe {
    grid-column: col-start 1/span 5;
  }
}
.about-post-video-item {
  grid-auto-flow: dense;
  margin-bottom: 50px;
  &:nth-child(odd) {
    .about-post-iframe {
      grid-column: col-start 6/span 5;
    }
    .about-post-desc {
      grid-column: col-start 1/span 5;
    }
  }
}

.post-page-001 {
  .about-post-text-img:nth-child(even) .about-post-img {
    padding-right: 70px;
  }
  .about-post-tracklist-b {
    margin-top: 70px;
  }
}

.post-page-002 {
  .about-post-tracklist-b {
    grid-column: col-start 4/span 3;
    margin-top: 0;
  }
  .about-post-text-img:nth-child(even) {
    .about-post-img {
      width: 33.3%;
      flex-basis: 33.3%;
    }
    .about-post-desc {
      margin-left: 115px;
      flex-basis: 66.6%;
      width: 66.6%;
    }
  }
  .about-post-text-img:nth-child(odd) img {
    max-width: none;
  }
  .about-post-video-item {
    margin-bottom: 10px;
  }
}

.post-page-003,
.post-page-004 {
  blockquote {
    padding-right: 35px;
  }
  .about-post-text-img:nth-child(odd) .about-post-img {
    text-align: left;
    order: 1;
    width: 33.3%;
    flex-basis: 33.3%;
  }
  .about-post-text-img:nth-child(odd) .about-post-desc {
    order: 2;
    flex-basis: 66.6%;
    width: 66.6%;
    margin-left: 115px;
  }
  .about-post-text-img:nth-child(even) .about-post-img {
    text-align: right;
    order: 2;
  }
  .about-post-text-img:nth-child(even) .about-post-desc {
    order: 1;
  }
  .about-post-img img {
    max-width: none;
  }
}

.post-page-003 {
  cite {
    padding-right: 50px;
    font-weight: 300;
  }
  .about-post-tracklist-img {
    position: relative;
    height: 490px;
    img {
      max-width: none;
      width: 652px;
      position: absolute;
      top: 0;
      left: -180px;
    }
  }
  .about-post-tracklist-desc {
    padding-left: 50px;
    h2 {
      grid-column: col-start 1/span 6;
    }
  }
  .about-post-tracklist-a {
    grid-column: col-start 1/span 2;
  }
  .about-post-tracklist-b {
    grid-row: 3/3;
    grid-column: col-start 3/span 2;
    margin-top: 0;
  }
}

.post-page-004 {
  .about-post-text-img:nth-child(even) {
    .about-post-desc {
      width: 33.3%;
      flex-basis: 33.3%;
    }
    .about-post-img {
      margin-left: 60px;
    }
  }
  .about-post-tracklist {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .about-post,
  .about-post-text-img,
  .about-post-tracklist {
    flex-direction: column;
  }
  .about-post-desc, 
  .about-post-img, 
  .about-post-tracklist-img, 
  .about-post-tracklist-desc,
  .post-page-002 .about-post-text-img:nth-child(even) .about-post-img,
  .post-page-002 .about-post-text-img:nth-child(even) .about-post-desc,
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-img, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-img,
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-desc, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-desc,
  .post-page-004 .about-post-text-img:nth-child(even) .about-post-desc {
    width: 100%;
    flex-basis: 100%;
  }
  .post-page-002 {
    .about-post-text-img:nth-child(even) {
      .about-post-img {
        img {
          height: 364px;
        }
      }
    }
  }
  .post-page-003 {
    .about-post-tracklist-img {
      height: auto;
      img {
        position: static;
        width: auto;
        max-width: 100%;
      }
    }
    .about-post-tracklist-desc {
      padding-left: 0;
    }
  }
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-img img{
    margin-top: 20px;
    max-width: 181px;
  }
  .post-page-003 blockquote, 
  .post-page-004 blockquote,
  .post-page-003 cite,
  .post-page-001 .about-post-text-img:nth-child(even) .about-post-img,
  blockquote {
    padding-right: 0;
  }
  .post-page-002 .about-post-text-img:nth-child(odd) img {
    max-width: 100%;
  }
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-img, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-img,
  .post-page-002 .about-post-text-img:nth-child(even) .about-post-img,
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-img,
  .about-post-img,
  .about-post-tracklist-img {
    text-align: center;
  }
  .post-page-002 .about-post-text-img:nth-child(even) .about-post-desc,
  .post-page-004 .about-post-text-img:nth-child(even) .about-post-img {
    margin-left: 0;
  }
  .about-post-text-img:nth-child(odd) .about-post-img,
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-desc, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-desc  {
    order: 1;
  }
  .about-post-tracklist-img,
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-img, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-img {
    order: 2;
  }
  .about-post-tracklist-desc {
    margin: 20px 0 30px;
  }
  blockquote,
  .post-page-004 .about-post-text-img:nth-child(even) .about-post-desc {
    margin-bottom: 30px;
  }
  .about-post-img {
    margin: 10px 0;
  }
  .about-post-footer {
    padding-bottom: 40px;
  }
}

@media (max-width: 991px) {
  .post-grid {
    padding-top: 50px;
    grid-column: col-start 1/span 2;
    grid-template-columns: none;
    grid-row-gap: 20px;
    grid-column-gap: 0;
  }
  .post-page.grid-page {
    grid-template-areas:
        "header"
        "main"
        "footer";
  }
  .about-post, 
  .about-post-text-img, 
  .about-post-tracklist,
  .about-post-text,
  .about-post-tracklist-img,
  .about-post-video,
  .about-post-video .about-post-iframe,
  .about-post-video .about-post-desc,
  .about-post-video-item:nth-child(odd) .about-post-iframe,
  .about-post-video-item:nth-child(odd) .about-post-desc,
  .about-post-footer {
    grid-column: col-start 1/span 2;
  }
  .scroll-animate,
  .active-animate.about-post-text, 
  .active-animate.slideup-animate, 
  .active-animate.about-post-desc, 
  .active-animate.about-post-tracklist-a, 
  .active-animate.about-post-tracklist-b {
    transition: none;
    transform: none;
    opacity: 1;
  }
  .about-post .about-post-desc p, 
  .about-post cite, 
  .about-post .about-post-img,
  .active-animate.fadein-animate {
    animation: none;
  }
  .about-post-tracklist-desc {
    display: flex;
    flex-direction: column;
    text-align: center;
    grid-template-columns: none;
    grid-column-gap: 0;
  }
  blockquote,
  .post-page-001 .about-post-text-img:nth-child(even) .about-post-img {
    padding-right: 30px;
  }
  .post-page {
    .about-post-tracklist-b {
      margin-top: 30px;
    }
  }
  .post-page-003 .about-post-tracklist-img img {
    left: -50%;
  }
}
@media (max-width: 1160px) {
  .post-page-003 .about-post-tracklist-img img {
    left: -80%;
  }
}

@media (max-width: 1399px) {
  .about-post, 
  .about-post-text-img, 
  .about-post-tracklist,
  .about-post-footer {
    grid-column: col-start 1/span 8;
  }
  .about-post-tracklist-desc {
    grid-template-columns: [main-start] repeat(4, [col-start] minmax(80px, 1fr)) [main-end];
    padding-left: 20px;
  }
  .about-post-tracklist-desc h2 {
    grid-column: col-start 1/span 4;
  }
  .about-post-tracklist-a {
    grid-column: col-start 1/span 2;
  }
  .about-post-tracklist-b {
    grid-column: col-start 3/span 2;
  }
  .post-grid {
    grid-column: col-start 2/span 8;
  }
  .post-page-003 .about-post-img img, 
  .post-page-004 .about-post-img img {
    max-width: 100%;
  }
  .post-page-003 .about-post-text-img:nth-child(odd) .about-post-desc, 
  .post-page-004 .about-post-text-img:nth-child(odd) .about-post-desc {
    margin-left: 20px;
  }
  .about-post-video .about-post-desc {
    grid-column: col-start 6/span 4;
  }
  .about-post-video-item:nth-child(odd) .about-post-iframe {
    grid-column: col-start 4/span 5;
  }
  .about-post-video-item:nth-child(odd) .about-post-desc {
    grid-column: col-start 1/span 3;
  }
}

@media (max-width: 1599px) {
  .post-grid {
    grid-column: col-start 2/span 10;
  }
}

// Конфиденциальная информация
.content-box--full {
  padding: 70px 0;
  grid-row: 1/3;
  h1 {
    font-size: 30px;
    font-family: $font-family;
    margin-bottom: 33px;
  }
}

@media (max-width: 991px) {
  .content-box--full {
    padding: 20px 0;
  }
}
