.page {
	height: 100vh;
	main {
		padding-bottom: 80px;
		height: calc(100vh - 80px);
    	align-content: center;
	}
}
// 404
.error-page--green {
	background: url(../img/noise.png) repeat, #8CAB6F;
}
.error-page-box {
	grid-column: col-start 1/span 12;
	justify-self: center;
    text-align: center;
    p {
		font-size: 24px;
		line-height: 33px;
		margin-top: 35px;
		margin-bottom: 40px;
    }
}
.error-page-img-box {
	display: flex;
	align-items: center;
	img {
		transform: rotate(4.98deg);
		margin: 0 25px;
	}
}
// *******************************************//

// О нас
.about-page,
.product-post,
.shop-page {
	background: url(../img/noise.png) repeat;
	main {
		opacity: 0;
		animation: 1s opacityElem ease-in;
		animation-fill-mode: forwards;
	}
}
.about-img-box {
	grid-column: col-start 2/span 4;
	align-self: center;
	img {
		width: 100%;
	}
}
.about-desc-box {
	grid-column: col-start 7/span 5;
	align-self: center;
	p {
		margin-bottom: 20px;
	}
	a {
		font-weight: 700;
	}
}

// *******************************************//

// Страница товара
.product-img-box {
	grid-column: col-start 2/span 5;
	align-self: center;
	img {
		width: 100%;
	}
}
.product-desc-box {
	grid-column: col-start 8/span 4;
	align-self: center;
}
.product-desc-head {
	border-bottom: 1px solid $font-color;
	padding-bottom: 10px;
	h1 {
		font-family: $font-family;
		font-size: 30px;
		line-height: 37px;
		margin-top: 0;
		margin-bottom: 10px;
		span {
			display: block;
		}
	}
	.product-name {
		font-weight: 700;
	}
	.product-subname {
		font-weight: 300;
	}
}
.product-desc-body {
	padding-top: 10px;
	margin-bottom: 50px;
}
.product-price {
	margin-top: 75px;
	font-family: $font-family;
	font-weight: 700;
	font-size: 35px;
	line-height: 44px;
	color: #000000;
	text-align: right;
}
// *******************************************//

// Все релизы
.releases-page {
	background: url(../img/noise.png) repeat, #A39F88;
	.copyright {
		display: none;
	}
}
.releases-grid {
	grid-template-columns: repeat(3, minmax(50px, 33.3%) );
	align-content: space-around;
}
.releases-item {
	opacity: 0;
	align-self: end;
	position: relative;
	animation: 1s opacityElem ease-in;
	animation-delay: 0.2s;
	animation-fill-mode: forwards;
}

@for $i from 0 to 20 {
	$step : 0.3s;
  .releases-item:nth-child(#{$i + 1}) {
	animation-delay: $step * $i;
  }
}

.releases-img {
	width: 70%;
	img {
		width: 100%;
	}
}
.releases-item--small{
	.releases-img {
		width: 60%;
	}
	.releases-counter {
		top: -90px;
		left: 47%;
	}
	.releases-link:before {
	    right: -26px;
	}
}
.releases-link {
	display: block;
	position: relative;
	&:after {
		content: '';
		position: absolute;
		bottom: 6px;
		left: -40px;
	    margin-left: -28px;
	    width: 39%;
	    height: 238px;
	    z-index: -1;
		background: url(../img/shadows-small.png) 0 0 no-repeat;
	}
	&:before {
		content: '';
		position: absolute;
		bottom: 6px;
	    right: -70px;
	    width: 105%;
	    height: 238px;
	    z-index: -1;
		background: url(../img/shadows-small.png) 0 0 no-repeat;
	}
}
.releases-counter {
	position: absolute;
	top: -55px;
	left: 54%;
	color: #fff;
	font-family: $font-family;
	font-weight: 900;
	font-size: 130px;
	line-height: 162px;
}

// *******************************************//

// Магазин
.filter {
    grid-column: col-start 12/span 1;
    justify-self: stretch;
    margin-bottom: 30px;
}
.product-grid {
	grid-column: col-start 2/span 10;
	grid-template-columns: repeat(3, minmax(50px, 33.3%) );
	grid-gap: 70px;
}
.pagination {
    grid-column: col-start 1/span 12;
    justify-self: center;
}

// *******************************************//
// Релиз Подробнее
.post-grid {
	grid-column: col-start 2/span 10;
	grid-template-columns: [main-start] repeat(10, [col-start] minmax(80px, 1fr)) [main-end];
	padding-top: 80px;
	grid-row-gap: 80px;
	grid-auto-flow: row;
}
.scroll-animate {
  opacity: 0;
  transform: translateY(100px);
  &.fadein-animate {
    transform: none;
  }
}
.about-post {
  .about-post-desc p,
  cite,
  .about-post-img {
    animation: 1s slideUp ease-in-out;
    img {
      max-width: 100%;
    }
  }
  cite {
    animation-delay: 0.2s;
    opacity: 1;
  }
  .about-post-desc p{
    animation-delay: 0.1s;
    opacity: 1;
  }
}
.active-animate {
  &.about-post-text,
  &.slideup-animate,
  &.about-post-desc,
  &.about-post-tracklist-a,
  &.about-post-tracklist-b {
    // animation: 1s slideUp ease-in-out;
    transform: translateY(0);
    opacity: 1;
    transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
  }
  &.fadein-animate {
    animation: 2s opacityElem ease-in-out;
    opacity: 1;
  }
  &.about-post-desc,
  &.about-post-tracklist-a {
    transition-delay: 0.1s;
  }
  &.about-post-tracklist-b {
    transition-delay: 0.2s;
  }
}

.about-post,
.about-post-text-img,
.about-post-tracklist {
	grid-column: col-start 1/span 10;
	align-self: center;
	display: flex;
}
.about-post-text {
	grid-column: col-start 2/span 8;
}
.about-post-footer {
	grid-column: col-start 1/span 10;
	text-align: center;
	padding-bottom: 70px;
	p {
		font-family: $font-family;
		font-weight: 600;
		font-size: 24px;
		line-height: 30px;
		margin: 25px 0;
	}
}
.about-post-desc,
.about-post-img,
.about-post-tracklist-img,
.about-post-tracklist-desc {
	width: 50%;
	flex-basis: 50%;
}
blockquote {
	margin: 0;
	align-self: center;
	display: flex;
	flex-direction: column;
	padding-right: 133px;
}
cite {
	font-style: normal;
	align-self: flex-end;
  margin-top: 20px;
}
.about-post-img,
.about-post-tracklist-img {
	img {
    width: auto;
    max-width: 100%;
	}
}
.about-post-text-img {
	.about-post-desc {
		align-self: center;
	}
	&:nth-child(odd) {
		.about-post-desc {
			order: 1;
		}
		.about-post-img {
			order: 2;
			text-align: right;
		}
	}
}
.about-post-tracklist-desc {
	padding-left: 20px;
	display: grid;
	grid-template-columns: [main-start] repeat(6, [col-start] minmax(80px, 1fr)) [main-end];
	align-content: center;
	h2 {
		font-family: $font-family;
		font-size: 36px;
		line-height: 45px;
		margin-top: 0;
		margin-bottom: 20px;
		grid-column: col-start 1/span 6;
	}
	h3 {
		font-size: 21px;
		margin: 0;
	}
	ul {
		margin: 0;
		padding-left: 0;
		list-style: none;
	}
}
.about-post-tracklist-a {
	grid-column: col-start 1/span 3;
}
.about-post-tracklist-b {
  grid-column: col-start 3/span 3;
}
.about-post-video {
  grid-column: col-start 1/span 10;
  h2 {
    text-align: center;
    font-family: $font-family;
    font-weight: 700;
    font-size: 2.1em;
    margin-bottom: 50px;
  }
  h3 {
    font-size: 24px;
    line-height: 27px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  iframe {
    width: 100%;
    height: 363px;
  }
  .about-post-desc {
    grid-column: col-start 7/span 4;
    width: 100%;
    align-self: center;
  }
  .about-post-iframe {
    grid-column: col-start 1/span 5;
  }
}
.about-post-video-item {
  grid-auto-flow: dense;
  margin-bottom: 50px;
  &:nth-child(odd) {
    .about-post-iframe {
      grid-column: col-start 6/span 5;
    }
    .about-post-desc {
      grid-column: col-start 1/span 5;
    }
  }
}

.post-page-001 {
  .about-post-text-img:nth-child(even) .about-post-img {
    padding-right: 70px;
  }
}

.post-page-002 {
  .about-post-tracklist-b {
    grid-column: col-start 4/span 3;
  }
}

.post-page-003 {
  blockquote {
    padding-right: 35px;
  }
  cite {
    padding-right: 50px;
    font-weight: 300;
  }
  .about-post-text-img:nth-child(odd) .about-post-img {
    text-align: left;
    order: 1;
  }
  .about-post-text-img:nth-child(odd) .about-post-desc {
    order: 2;
  }
  .about-post-text-img:nth-child(even) .about-post-img {
    text-align: right;
    order: 2;
  }
  .about-post-text-img:nth-child(even) .about-post-desc {
    order: 1;
  }
  .about-post-img img {
    max-width: none;
  }
  .about-post-tracklist-img {
    position: relative;
    height: 490px;
    img {
      max-width: none;
      width: 652px;
      position: absolute;
      top: 0;
      left: -180px;
    }
  }
  .about-post-tracklist-desc {
    margin-left: 80px;
  }
  .about-post-tracklist-b {
    margin-left: 60px;
  }
}
