.pagination-list {
	padding-left: 0;
	margin: 60px 0 35px;
	list-style: none;
	display: flex;
	li {
		margin: 0 8px;
		font-weight: 600;
		font-size: 18px;
		line-height: 20px;
		color: rgba(18, 18, 18, 0.5);
		align-self: center;
	}
	.current {
		color: $font-color;
		border-bottom: 1px solid $font-color;
	}
	.arrow {
		width: 7px;
		height: 7px;
		border-right: 1px solid $font-color;
		border-bottom: 1px solid $font-color;
		box-sizing: border-box;
		display: block;
    	cursor: pointer;
    	opacity: 0.5;
    	&:hover {
    		opacity: 1;
    	}
	}
	.arrow-prev {
		transform: rotate(135deg);
	}
	.arrow-next {
		transform: rotate(-45deg);
	}
}

@media (max-width: 767px) {
  .pagination-list {
    li {
      margin: 0 4px;
      font-size: 14px;
      line-height: 16px;
    }
    .arrow {
      width: 5px;
      height: 5px;
    }
  }
}