.product-img {
	img {
    width: 100%;
    height: auto;
	}
}
.product-link {
	display: block;
}
.product-desc {
	font-size: 16px;
	line-height: 22px;
	margin-top: 10px;
}
.product-name {
	font-weight: 700;
}
.product-meta {
	margin-top: 7px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	.product-price {
		margin-top: 0;
		font-size: 24px;
		line-height: 30px;
	}
}
.add-cart {
	width: 29px;
	height: 29px;
	border-radius: 50%;
	border: 1px solid $font-color;
	background: url(../img/cart.svg) center 43% no-repeat;
  background-size: 11px 14px;
  outline: none;
  display: block;
  padding: 0;
  margin: 0;
  &:active,
  &:focus {
    background-color: #121212;
    background-image: url(../img/cart-active.svg);
  }
}

.woocommerce-Price-currencySymbol {
  margin-left: 5px;
  font-size: 23px;
  font-weight: 500;
}

.added_to_cart.wc-forward {
  display: none;
}
